.layout {
    min-height: 100vh;
    background-color: var(--background); 
  }
  
  .content {
    padding: 20px 50px;
    text-align: center;
  }
  
  .searchButton {
    margin-bottom: 20px;
  }
  
  .row {
    margin-top: 80px;
  }
  
  .imageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 220px;
    background: #fff;
    border: 0;
    overflow: hidden;
    padding: 0;
  }
  
  .imageButton img {
    width: auto;
    height: auto;
    max-height: 100%;
    object-fit: cover;
  }

  .linkContainer:hover .imageButton{
     box-shadow: 0 4px 6px rgba(0,0,0,.7);
  }

  .recipeTitle{
    text-align: center;
    font-weight: 600;
    color: var(--text-secondary);
    font-size: 18px;
    cursor: pointer;
  }

