.content {
    padding: 20px;
    background-color: var(--background); 
  }
  
  .recipeHeader {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .recipeTitle {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  .recipeImage {
    width: 40%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .recipeDetails {
    /* background-color: white; */
    padding: 20px;

    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .ingredients, .steps {
    margin-bottom: 20px;
  }
  
  .ingredients h2, .steps h2 {
    font-size: 24px;
    font-weight: bold;
    color: #666;
  }
  
  .ingredients ul, .steps ol {
    margin-left: 20px;
  }
  
  .ingredients li, .steps li {
    font-size: 16px;
    color: #555;
  }
  
  .buttonsRow {
    margin-top: 10px;
  }
  
  .editButton {
    margin-right: 20px;
    background-color: var(--primary);
  }
  .editButton:hover{
    background-color: var(--secondary) !important;
  }
  
  .deleteButton {
    background-color: rgb(176, 42, 25);
    color: #fff;
    border: 0;
  }

  .deleteButton:hover{
    color: rgb(176, 42, 25) !important;
    background-color: var(--neutral);
  }
  