.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #82C7D9;; 
  color: #fff;
}
  
.logo {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.logo a{
  color: #fff;
  text-decoration: none;
}
.logo a:hover{
  color: #A8D5BA;
}
  
  .menu {
    background: transparent;
  }

  .menu .ant-menu-item a{
    color: #fff;
  }

  .menu .ant-menu-item-active a:hover {
    color: #A8D5BA; /* Нежно-зеленый акцент */
  }
  