.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--dark-green); 
  color: var(--neutral-white);
}
  
.logo {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.logo a{
  color: var(--neutral-white);
  text-decoration: none;
}
.logo a:hover{
  color: var(--light-green);
}
  
  .menu {
    background: transparent;
  }
  

  .menu li a{
    color: var(--neutral-white) !important;
  }

  .menu li a:hover {
    color: var(--medium-green) !important;
  }
  