.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* color: var(--dark-green); */
    /* background-color: var(--background); */
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
  }
  
  .tagline {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .buttonGroup {
    display: flex;
    gap: 20px;
  }

  .buttonGroup .catalog_btn {
    background-color: var(--primary); 
    border:none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .buttonGroup .catalog_btn:hover {
    background-color: var(--secondary) !important; 
    /* border-color: var(--dark-green) !important; */
    color: #fff !important;
  }
  
  .buttonGroup .add_btn {
    border: none;
    background-color: var(--neutral);
    color: var(--primary);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .buttonGroup .add_btn:hover {
    color: #fff !important;
    background-color: var(--secondary) !important;
  }

  /* footerPage */
  
  .footer {
    text-align: center;
    padding: 10px 20px;
    background-color: var(--dark-green);
    color: var(--neutral-white);
  }
  
  .footerLink {
    color: var(--light-green);
    text-decoration: none;
  }
  
  .footerLink:hover {
    text-decoration: underline;
    color: var(--very-light-green);
  }
  